<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="this.calc">
      Edit calculation
    </ion-title>
    <ion-title *ngIf="!this.calc">
      New calculation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="p-3">
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Titel" [(ngModel)]="title">
      </div>
      <div class="col-auto text-end">
        <button type="button" class="btn btn-primary btn" (click)="addRow()">+</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Memo:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="note" rows="3"></textarea>
      </div>
    </div>
    <div *ngFor="let row of rows; let i = index" class="row cloneable-row" [ngClass]="{'mb-3': i === rows.length - 1}">
      <div class="col">
        <label class="form-label">Raamomtrek:</label>
        <div class="input-group">
          <input class="form-control custom-width" [(ngModel)]="row.raamomtrek" type="number" step=".01">
          <span class="input-group-text">m</span>
        </div>
      </div>
    
      <div class="col mb-3 d-flex align-items-end">
        <div class="w-100">
          <label class="form-label">Aantal ramen:</label>
          <div class="input-group">
            <input class="form-control" [(ngModel)]="row.aantalRamen" type="number" disabled>
            <button type="button" class="btn btn-outline-secondary" (click)="decrementRamen(row)">-</button>
            <button type="button" class="btn btn-outline-secondary" (click)="incrementRamen(row)">+</button>
          </div>
        </div>
      </div>
    
      <hr>
    </div>
    
      <div class="box fixed-bottom row d-flex align-items-center justify-content-between p-2">
        <div class="col-auto">
          <button type="button" class="btn btn-primary btn-sm" (click)="calculate()">Calculate</button>
        </div>
        <div class="col-auto">
          <div class="input-group input-group-sm">
            <label class="form-label pt-2 pe-2">TOTAAL:</label>
            <input class="form-control custom-width" [(ngModel)]="total" disabled type="number" step=".01">
            <span class="input-group-text">m</span>
          </div>
        </div>
        <div class="col-auto">
          <button type="button" id="open-toast" class="btn btn-primary btn-sm" [disabled]="total === 0" (click)="save()">Save</button>
        </div>
      </div>
  </div>

</ion-content>
