<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Outer loop: Iterate over each calculation -->
    <ion-card *ngFor="let calc of calculations; let i = index" class="full-width-card">
      <ion-card-header class="card-header">
        <h1 class="card-title">{{ calc.title }}</h1>
        <p class="date">{{ calc.createdOn | date: 'dd/MM/yyyy, HH:mm' : 'Europe/Brussels' }}</p>
      </ion-card-header>
    
      <ion-card-content>
        <p *ngIf="calc.note"><strong>Note:</strong> {{ calc.note }}</p>
        <p><strong>Total:</strong> {{ calc.total }} m</p>
    
        <!-- Edit Button -->
        <ion-button fill="clear" color="primary" class="edit-button">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>    
  </ion-list>
</ion-content>

