/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


.form-label {
  font-weight: bold;
}

input[type="number"] {
    width: 75px;
}

.custom-width {
    width: 75px !important;
}

.box {
  background-color:#e9ecef;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 0.9rem;
  color: #888;
}

.card-header {
  position: relative;
  background-color: #fff; /* Set background color to white */
  border-bottom: none;
}

.full-width-card {
  width: 95%;
  margin: 10px;
  padding: 0;
  border: 2px solid #4a90e2;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Ensure the card itself has a white background */
}

.card-title {
  margin: 0; /* Remove default margin */
  font-size: 1.4rem;
  color: #333;
}

.edit-button {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 1.1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the container take up the full height */
}

